body {
    background-color: rgb(43, 43, 43);
    color: rgb(169, 183, 198);
    font-family: menlo, Consolas, monospace;
    font-size: 9pt;
}

a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

a:hover {
    background-color: rgb(75, 75, 75);
}

.container {
    max-width: 600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.construct {
    color: rgb(204, 120, 50)
}

.string {
    color: rgb(106, 135, 89)
}

.function {
    color: rgb(255, 198, 109)
}

.property {
    color: rgb(152, 118, 170)
}

.comment {
    color: rgb(128, 128, 128)
}

.doc-block {
    color: rgb(98, 151, 85);
    font-style: italic
}

span.tab {
    padding-left: 2em;
}
